 .grid-container {
    background-color: lightgreen;
    grid-gap: 10px;
    padding: 10px;
    inline-size: flex;
    border-block-start-style: solid;
    border-block-start-width: 5px;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
  }

  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 5px;

  }
  
